@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

body {
    background-image: linear-gradient(to right, rgba(23, 27, 53, 1), rgb(78, 85, 129));
    padding: 0;
    margin: 0;

}

* {
    box-sizing: border-box;
}

.navbar {
    margin: 0 auto;
    width: 770px;
}

.navbar ul {
    margin: 0;
    padding: 50px 0 0;
    list-style: none;
    text-align: right;
}

.navbar ul li:nth-child(1) {
    float: left;
}

.navbar ul li:nth-child(2) {
    float: left;
}

.navbar ul li {
    float: none;
    display: inline-block;
    padding: 0px 20px;
}

.navbar ul li a {
    position: relative;
    display: flex;
    padding: 4px 5px;
    font-family: Lato, sans-serif;
    color: #ecf0f1;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    font-family: 'Source Code Pro', monospace;
}

.logo-area {
    position: absolute;
    left: 47%;
    top: 15px;
    content: "";

}

.navbar ul li a:hover {

    color: #a088b1;
    transition: all 0.5s ease;
}

ul li a::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #ffffff;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .3s;
}

ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

.new-btn {
    background-color: transparent;
    color: #ffffffA1;
    border: 2px solid #ffffffa1;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: all 0.3s ease;
}

.new-btn:hover {
    background-color: #a088b1;
    color: #ffffffA1;
    transition: all 0.3s ease;
}

.new-btn:active {
    background-color: #735786;
}

.submit-btn {
    background-color: transparent;
    color: #ffffffA1;
    border: 2px solid #ffffffa1;
    border-radius: 50px;
    padding: 10px 20px;
    position: absolute;
    top: 83%;
    left: 47%;
    cursor: pointer;
    font-size: 1.1rem;
    transition: all 0.3s ease;
}

.submit-btn:hover {
    background-color: #a088b1;
    color: #ffffffA1;
    transition: all 0.3s ease;
}

.submit-btn:active {
    background-color: #735786;
}

.about {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    box-shadow: 0px 0px 10px #1b2229;
    background: linear-gradient(to right,
            rgb(160, 76, 156),
            rgb(78, 85, 129));
    position: absolute;
    top: 17%;
    left: 25%;
    padding: 50px;
    border-radius: 25px;
}

.about p {
    color: #ffffffA1;
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.fa-triangle-exclamation {
    color: #c7b5d3;
    transition: all 0.3s ease;
    font-size: 80px;
}

.fa-triangle-exclamation:hover {
    color: #e4cb5c;
}

.feedback-form {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 50px;
    position: absolute;
    top: 55%;
}

.feedback-form form {
    width: 53%;
    margin: 5px auto;
    background-color: #735786;
    font-family: 'Source Code Pro ' , monospace;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 0px 0px 20px #1b2229;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;

}
.feedback-form form input {
    border: none;
    padding: 15px 10px;
    width: 300px;
    border-radius: 5px;
    outline: none;
    text-align: center;
    border: 2px solid #303957a1;
    color: #a088b1;
    font-family: 'Source Code Pro ' , monospace;

    transition: all 0.3s ease;

}
.feedback-form form input:hover {
    border: 2px solid rgb(100, 81, 102);
}
.feedback-form form textarea {
    border: none;
    margin: 15px auto;
    outline: none;
    text-align: center;
    width: 30rem;
    background-color: #ffffff;
    height: 15rem;
    color: #a088b1;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 19px;
}
.feedback-form form label {
    color: white;
    font-size: 19px;
    padding-bottom: 15px;
    display: block;
}
.feedback-form form button {
    background-color: transparent;
    color: #ffffffA1;
    border: 2px solid #ffffffa1;
    border-radius: 50px;
    padding: 10px 90px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: all 0.3s ease;
}
.feedback-form form button:hover {
    background-color: #a088b1;
    color: #ffffffA1;
    transition: all 0.3s ease;
}

.feedback-form form button:active {
    background-color: #735786;
}
.line {
    width: 70%;
    height: 1px;
    background-color: #ffffff3d;
    margin: 20px auto;
    border-radius: 500px;
}
.swal2-popup {
    font-size: 1.1rem !important;
    font-family: 'Source Code Pro ' , monospace;
  }